# Web / API
fastapi>=0.110
uvicorn[standard]>=0.29
streamlit>=1.36

# IA: TensorFlow
tensorflow>=2.16

# Preprocesamiento de datos
pandas>=2.2
numpy>=1.26
scikit-learn>=1.4

# Otros
requests>=2.31
python-multipart>=0.0.9
